<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>808423483984-v4e9m69rl9k4h99h00vt1bugl5uemets.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.808423483984-v4e9m69rl9k4h99h00vt1bugl5uemets</string>
	<key>API_KEY</key>
	<string>AIzaSyC6XED3kyPO7YOlWgwg0g0D4kIG1U94-gc</string>
	<key>GCM_SENDER_ID</key>
	<string>808423483984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ssafy.edu.playground</string>
	<key>PROJECT_ID</key>
	<string>fir-fdef7</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-fdef7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808423483984:ios:957cdaa84e36dcbeb1bf55</string>
	<key>DATABASE_URL</key>
	<string>https://fir-fdef7-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>